extends layout 

block content
    head
    link(rel='stylesheet', href='/stylesheets/charities.css')
    h1(class="pageTitle") Charity Page
    section(class = "charSec") 
        div(id = "leftSide")
            h1(class ="leftHeader") Why it Matters
            p(id ="desc") All proceeds made from the tours or marketplace go towards helping the people of Pu Ngaol. If you want to donate, directly use the form on the right to make a small donation. Your donation will go to help fund WWF Cambodia and development and partnership in action charities helping in Pu Ngaol. The proceeds will also go towards specific projects to help the locals. The progress to completing these goals can be seen below, as well as previous goals we have completed. We appreciate any donation you can give.
          
            h1(class ="leftHeader") Next Milestone

            h3(class= "currentMile") New road to hospital

            div(class = "container") 
                div(class = "raised")   70%
            h1(class="leftHeader") completed milestones   
            div(class = "rightsubBridge")
           
                h2(class = "example") Bridge over Ou Te River
                p(class= "exText") The most recent milestone we have raised money for is building a bridge over the Ou Te River. This allowed the locals to safley acess the water form the river without having to worry about the upridicatble riseing tide, that made the rive dangerouse to approch in certain conditons.
            div(class = "rightsubTermite")
                 
                  h2(class = "example") Deliverd termite repellant for houses
                  p(class= "exText") For our fist milestone we deliverd termite repelent to the locals of Pu Ngaol. This was important as many of the new houses built with the wood from the local forrest where suseptiple to termites causeing them to become stuructually weeker. But with your donations we were able to provide temit ereplent to help mitagte the problem.


            

        div(id = "rightSide")
             form( action='charities/donationRequest', method= 'POST' id = "donation" class = "form2")  
                fieldset 
                    legend Donation Form
                    label(for="forename") First Name
                    input(type="text" name="forename" id="forename" required)
                    label(for="surname") Last Name
                    input(type="text" name="surname" id="surname" required)
                    label(for="email") E-mail 
                    input(type="email" name="email" id="email" required)
                    label(for="mobile") Mobile Phone Number 
                    input(type="tel" name="mobile" id="mobile" required)
                    label(for="donation") Donation Ammount 
                    select(name="donation" id="donationAmount" required) 
                        option(value="£5")  £5
                        option(value="£10") £10
                        option(value="£25") £25
                        option(value="£50") £50    
                    button(id = "donate") Donate
             form( action='charities/donationRequest', method= 'POST' class = "payment" id = "payment") 
                fieldset 
                    legend Payment 
                    label(for="cardNum") Card number
                    input(type="number" name="cardNum" id="cardNum" required)
                    label(for="cardName") Name on card
                    input(type="text" name="cardName" id="cardName" required)
                    label(for="exdate") experatin date
                    input(type="date" name="exdate" id="exdate" required)
                    label(for="code") security code 
                    input(type="number" name="code" id="code" required)  
                    button(id = "pay") Confirm
        script(src="/javascripts/request.js")
    h1(class ="linkSec") Other ways to donate
    section(class = "charSecondSec") 
        
        a(href="market") 
            div(class= "link") 
            
             h1(class = "linkHead") Visit our online Marketplace
             h4(class = "linkInfo") All procides go to the above charites 
                
          
        a(href="tourism")  
          
            div(class= "link", href='tourism') 
                h1(class = "linkHead") Book a wildlife tour 
                h4(class = "linkInfo") More info on our torism page
