extends layout

block content
  head 
  link(rel='stylesheet', href='/stylesheets/index.css')
  h1= title
  img(src="/images/pu ngaol.jpg")
  div
    button(style="background-image: url('/images/market.jpg');")
    button(style="background-image: url('/images/clouds.jpg');")
    button(style="background-image: url('/images/tour guide.jpg');")
    button(style="background-image: url('/images/question mark.jpg');")