extends layout

block content
    head
    link(rel='stylesheet', href='/stylesheets/tourism.css')
    h1 ទស្សនា ពូ ង៉ោល

    .intro-section
        .intro-info
            h2 អំពីពូង៉ោល
            p ពូង៉ោល ជាផ្ទះចម្បងរបស់ជនជាតិព្នង ដែលជាក្រុមជនជាតិដើមភាគតិចធំជាងគេនៅខេត្តមណ្ឌលគិរី។ បុព្វបុរសរបស់ពួកគេត្រូវបានគេស្គាល់ថារស់នៅក្នុងតំបន់នេះនៃប្រទេសកម្ពុជាអស់រយៈពេលជាង 2,000 ឆ្នាំមកហើយ ជាមួយនឹងវប្បធម៌ និងភាសារបស់ពួកគេបានចាក់ឫសយ៉ាងជ្រៅនៅក្នុងទេសភាពធម្មជាតិរបស់ប្រទេស។ វា​ក៏​ជា​ផ្ទះ​របស់​គ្រួសារ​ខ្មែរ​ដែល​មាន​ចំនួន​ប្រជាជន​ភាគច្រើន​ក្នុង​ប្រទេស​កម្ពុជា។ ប្រជាជនភាគច្រើនរស់នៅក្នុង Pu Ngaol ប្រកបរបរចិញ្ចឹមជីវិត មានន័យថា អ្វីៗដែលពួកគេត្រូវការដើម្បីរស់បានមកពីព្រៃឈើ ឬវាលស្រែក្បែរនោះ ហើយបានគោរពធនធានប្រកបដោយការទទួលខុសត្រូវ និងការអនុវត្តកសិកម្មតាមពេលវេលា។ ពួកគេរស់នៅដោយតុល្យភាពជាមួយដី ដើម្បីធានាថាវាត្រូវបានរក្សាទុកសម្រាប់ពេលអនាគត និងដើរតួនាទីយ៉ាងសំខាន់ក្នុងការថែរក្សា និងថែរក្សាបរិស្ថាន និងប្រព័ន្ធអេកូឡូស៊ីក្នុងតំបន់។

        .intro-image
            img(src="/images/pu ngaol.jpg" alt="Image of Pu Ngaol")

    .info-section
        .info-box
            h2 ចំណុចចាប់អារម្មណ៍
            p កន្លែងសម្គាល់ និងកន្លែងល្អបំផុតដើម្បីមើលនៅក្នុងភូមិ
            .poiBoxes
                .sanctuaryPP
                    h2 ដែនជម្រកសត្វព្រៃភ្នំព្រិច
                    .hidden-info
                        p  ដោយ​ស្គាល់​ថា​ជា​ព្រៃ​វស្សា និង​ទន្លេ​ដ៏​ស្រស់​ស្អាត អ្នក​ទេសចរ និង​អ្នក​ស្រឡាញ់​ធម្មជាតិ​រាប់​ពាន់​នាក់​មក​ទស្សនា​ដែន​ជម្រក​សត្វ​ភ្នំ​ព្រិច ខេត្ត​មណ្ឌលគិរី ដើម្បី​ទទួល​បាន​ទេសភាព​ដ៏​ស្រស់​ត្រកាល។
                .sanctuaryKS
                    h2 ដែនជម្រកសត្វព្រៃកែវសីមា
                    .hidden-info
                        p  តំបន់​ការពារ​នេះ​ជា​ជម្រក​នៃ​ភាពចម្រុះ​នៃ​សត្វព្រៃ ប្រភេទ​ព្រៃឈើ ទេសភាព និង​សហគមន៍​ជនជាតិដើម​ភាគតិច។ គាំទ្រដោយ WCS តាំងពីមុនពេលចាប់ផ្តើមនៅឆ្នាំ ២០០២ វាជាទីតាំងនៃគម្រោង កែវសីមារេដបូក ដែលជាកម្មវិធីអភិរក្សដ៏ធំ និងជោគជ័យបំផុតមួយរបស់កម្ពុជា។
                .river 
                    h2 ទន្លេ អូរ
                    .hidden-info
                        p ទន្លេអូរតេដែលហូរកាត់ ពូង៉ោល ប្រើសម្រាប់ងូតទឹក បោកខោអាវ និងទឹកផឹក (បន្ទាប់ពីដាំទឹក)។ នៅ​រដូវប្រាំង ពេល​ទឹក​ធ្លាក់​ចុះ ទឹក​ទន្លេ​មាន​ល្បឿន​យឺត ហើយ​ទឹក​ក៏​ថ្លា​ជាង ដោយ​មាន​ភាព​ច្របូកច្របល់​ទាប។ ទឹកទន្លេមានភាពច្របូកច្របល់ខ្លាំងនៅរដូវវស្សា។
                .hall 
                    h2 សាលាសហគមន៍ ពូង៉ោល
                    .hidden-info
                        p សាលា​សហគមន៍​ត្រូវ​បាន​ប្រើ​ជា​កន្លែង​សម្រាប់​អ្នក​ភូមិ​មក​ជួប​ជុំ​គ្នា ហើយ​ជា​កន្លែង​សម្រាប់​ប្រតិបត្តិការ​សំខាន់​ក្នុង​ភូមិ។
            button កក់ដំណើរកម្សាន្ត →
        br
        .info-box
            h2 អ្នកស្ម័គ្រចិត្តនៅ ពូង៉ោល
            p ព័ត៌មានអំពីរបៀបដែលអ្នកអាចចូលរួមក្នុងការស្ម័គ្រចិត្តនៅក្នុងភូមិ
            button ចូលរួមជាមួយការស្ម័គ្រចិត្ត →
        br
        .info-box
            h2 បរិច្ចាគ / វិនិយោគនៅ ពូង៉ោល
            p របៀបចូលរួមជាមួយការបរិច្ចាគ និងការវិនិយោគនៅក្នុងភូមិ
            button ទំព័របរិច្ចាគ →
