doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


  nav(class="nav")
  div(class="nav_container")
    ul(class="nav_list")
      li 
        a(class = "nav_option", href='/') Home
      li 
        a(class = "nav_option", href='weather') Weather
      li 
        a(class = "nav_option", href='market') Market
      li 
        a(class = "nav_option", href='tourism') Tourism
      li 
        a(class = "nav_option", href='charities') Charities
      li 
        a(class = "nav_option", href='login') Sign in 

  body
    block content
