doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  nav(class="nav")
    div(class="nav_container")
      ul(class="nav_list")
        li 
          a(class = "nav_option", href='/') Home
        li 
          a(class = "nav_option", href='weather') Weather
        li 
          a(class = "nav_option", href='market') Market
        li 
          a(class = "nav_option", href='tourism') Tourism
        li 
          a(class = "nav_option", href='charities') Charities
        li    
      div(class = "nav_accounts")
          if session.isLoggedIn != true
            a(class = "nav_option", href='login', id = "signIn") Sign in 
          else if session.isAdmin == true
            a(class = "nav_option", href='admin', id = "admin")  Admin 
            form(action='logout', method='POST', id="logout_button")
              input(type="submit", name="logout", value="Signout", id="logout_input")
          else  
            a(class = "nav_option", href='user', id = "user")  User 
            form(action='logout', method='POST', id="logout_button")
              input(type="submit", name="logout", value="Signout", id="logout_input")

  body
    block content

    footer(class="footer")
      div(class="footercontainer")
       div(class="languagePicker")
        div.selectedLangauage 
         if session.language == "en"
            button.selectedLanguageButton English
            div.content
              a(href="/th") ไทย
              br
              a(href="/kh") ខ្មែរ
         else if session.language == "th"
            button.selectedLanguageButton ไทย
            div.content
              a(href="/") English
              br
              a(href="/kh") ខ្មែរ
         else if session.language == "kh"
            button.selectedLanguageButton ខ្មែរ
            div.content
              a(href="/") English
              br
              a(href="/th") ไทย
      div(class="footerText")
        p @2024 Synoptic Project Group 47
        
