extends layout

block content
 link(rel='stylesheet', href ='/stylesheets/login.css')

 main
  section
    div(class = "wrapper")
     header
      h1 Login
     div(class ="underWrapper")
       p(class="underWrapper-content") Log into your account
    
     div(class = "login")
       form(action='login/loginRequest', method= 'POST', class ="login-form")
        div(class="loginInputTop")        
         label(for='email')
         input#email(type='text' name='email' placeholder='Email' required='', class ="login-input")

        div(class="loginInput")   
         label(for='password')
         input#password(type='text' name='password' placeholder='Password' required='', class ="login-input")

        div(class="loginInput-button")   
         input(type='submit' value='Login', id ="login-button")
         
        p Click here to 
         a(href='signup') Sign up