extends layout 

block content
    head
    link(rel='stylesheet', href='/stylesheets/charities.css')
    h1(class="pageTitle") หน้าบริจาค
    section(class = "charSec") 
        div(id = "leftSide")
            h1(class ="leftHeader") ทำไมถึงสำคัญ
            p(id ="desc") charity help Phasellus rhoncus ipsum mi, id semper felis aliquet sit amet. Curabitur quam metus, faucibus at consequat eu, interdum eu nulla. Sed quis nisl pretium, hendrerit odio eu, malesuada odio. Ut rhoncus urna sit amet ante tempor semper. Proin finibus mi orci, in tempus justo pretium a. Nam sagittis justo eu ligula pulvinar commodo. Duis ac libero erat. Ut imperdiet nibh massa. Donec ultrices facilisis dapibus. Donec venenatis, lectus ac sollicitudin ullamcorper, lorem turpis dapibus purus, et aliquam enim justo vitae libero. Curabitur nulla massa, gravida nec elit quis, consequat convallis sapien. Mauris semper tortor eu tortor sagittis, eu semper odio accumsan. Phasellus pellentesque eget turpis iaculis fringilla. Suspendisse porta augue diam, sit amet volutpat magna maximus sed. Phasellus laoreet sed arcu facilisis pellentesque. Aliquam tempus sem eu nunc consectetur tincidunt.
          
            h1(class ="leftHeader") เป้าหมายต่อไป

            h3(class= "currentMile") New road to hospital

            div(class = "container") 
                div(class = "raised")   70%
            h1(class="leftHeader") completed milestones   
            div(class = "rightsub")
           
                p(class = "emaple") milestone 1

            div(class = "rightsub")
                 p(class = "emaple") milesotne 2  


            

        div(id = "rightSide")
             form( action='charities/donationRequest', method= 'POST' id = "donation" class = "form2") 
                fieldset 
                    label(for="forename") ชื่อแรก
                    input(type="text" name="forename" id="forename" required)
                    label(for="surname") นามสกุล
                    input(type="text" name="surname" id="surname" required)
                    label(for="email") อีเมล
                    input(type="email" name="email" id="email" required)
                    label(for="mobile") เบอร์โทรศัพท์ 
                    input(type="tel" name="mobile" id="mobile" required)
                    label(for="donation") จำนวนเงินบริจาค 
                    select(name="donation" id="donation" required) 
                        option(value="£5")  £5
                        option(value="£10") £10
                        option(value="£25") £25
                        option(value="£50") £50    
                    button(id = "donate") บริจาค
             form( action='charities/donationRequest', method= 'POST' class = "payment" id = "payment") 
                fieldset 
                    label(for="cardNum") หมายเลขบัตร
                    input(type="number" name="cardNum" id="cardNum" required)
                    label(for="cardName") ชื่อในบัตร
                    input(type="text" name="cardName" id="cardName" required)
                    label(for="exdate") วันหมดอายุ
                    input(type="date" name="exdate" id="exdate" required)
                    label(for="code") เลขท้ายบัตร
                    input(type="number" name="code" id="code" required)  
                    button(id = "pay") ยืนยัน
        script(src="/javascripts/request.js")

