extends layout

block content
  head
  link(rel='stylesheet', href='/stylesheets/index.css')
  h1
    | Pu Ngaol, Here and Now
    br
    | 
    br
    | 
    br
    | 
    br
    | 
    br
    | ⮮ Step Into Our World ⮯
  div(id="buttonContainer")  
    button(class="homeButtons" id="marketButton")
      a(href="/th/thaimarket" class="homeButtons") ตลาด
      br
      | 🍎
    button(class="homeButtons" id="toursButton" href="tourism")
      a(href="thaitourism" class="homeButtons") ทัวร์
      br
      | 🏞️
    button(class="homeButtons" id="weatherButton" href="weather")
      a(href="thaiweather" class="homeButtons") สภาพอากาศ
      br
      | ☀️
    button(class="homeButtons" id="howToButton")
      a(href="instructions" class="homeButtons") วิธีใช้
      br
      | ❓
    a(id="marketOverlayText" href="market")
      |○ อาหารที่มาจากธรรมชาติ
      br
      |○ สนับสนุนการทำเกษตรกรรมในท้องถิ่น
      br
      |○ รวมตัวกันอย่างยั่งยืน
      br
      |○ ราคายุติธรรม
      br
      |○ ทำด้วยใจ
      br
      |○ กดเพื่อหาเพิ่มเติม!
    a(id="toursOverlayText" href="tourism")
      |○ ข้อมูลพึ้นที่
      br
      |○ จุดน่าสนใจ
      br
      |○ นำด้วยมืออาชัพ
      br
      |○ ราคายุติธรรม
      br
      |○ สนับสนุนคนท้องถิ่น
      br
      |○ กดเพื่อหาเพิ่มเติม!
    a(id="weatherOverlayText" href="weather")
      |○ ตรวจดูน้ำถ่วม
      br
      |○ ตรวจดูความแล้ง
      br
      |○ เตรียมตัว
      br
      |○ กดเพื่อหาเพิ่มเติม!
    a(id="howToOverlayText" href="instructions")
      |○ วิธีใช้เวป
      br
      |○ ถ้ามีคำถามให้ดูในหน้านี้
      br
      |○ กดเพื่อหาเพิ่มเติม!
      