extends layout

block content
    head
    link(rel='stylesheet', href='/stylesheets/tourism.css')
    h1 เยี่ยมชม Pu Ngaol

    .intro-section
        .intro-info
            h2 ข้อมูล Pu Ngaol
            p Pu Ngaol ภูเงาเป็นบ้านของชาวบูนอง ซึ่งเป็นกลุ่มชนพื้นเมืองที่ใหญ่ที่สุดในมณฑลคีรี เป็นที่รู้กันว่าบรรพบุรุษของพวกเขาอาศัยอยู่ในพื้นที่นี้ของกัมพูชามานานกว่า 2,000 ปี โดยมีวัฒนธรรมและภาษาของพวกเขาหยั่งรากลึกในภูมิทัศน์ทางธรรมชาติของประเทศ นอกจากนี้ยังเป็นที่ตั้งของครอบครัวเขมรซึ่งเป็นประชากรส่วนใหญ่ในประเทศกัมพูชา คนส่วนใหญ่ที่อาศัยอยู่ในภูเงามีวิถีชีวิตแบบยังชีพ ซึ่งหมายถึงทุกสิ่งที่พวกเขาต้องการเพื่อความอยู่รอดมาจากป่าหรือทุ่งนาใกล้เคียง และได้ฝึกฝนทรัพยากรที่มีความรับผิดชอบและแนวปฏิบัติทางการเกษตรมาเป็นเวลานาน พวกเขาใช้ชีวิตอย่างสมดุลกับที่ดินเพื่อให้แน่ใจว่าได้รับการอนุรักษ์ไว้สำหรับอนาคต และมีบทบาทสำคัญในการรักษาและดูแลสภาพแวดล้อมและระบบนิเวศในท้องถิ่น
        .intro-image
            img(src="/images/pu ngaol.jpg" alt="Image of Pu Ngaol")

    .info-section
        .info-box
            h2 จุดน่าสนใจ
            p สถานที่สำคัญและสถานที่ที่ดีที่สุดในหมู่บ้าน
            .poiBoxes
                .sanctuaryPP
                    h2 เขตรักษาพันธุ์สัตว์ป่า Phnom Prich
                    .hidden-info
                        p  กท่องเที่ยวหลายพันคนและผู้รักธรรมชาติเป็นที่รู้จักในเรื่องป่าฝนที่แผ่กิ่งก้านสาขาและแม่น้ำที่สวยงาม เยี่ยมชมเขตรักษาพันธุ์สัตว์ป่าพนมไพรช์ มณฑลคีรี เพื่อสัมผัสภูมิทัศน์อันงดงาม
                .sanctuaryKS
                    h2 เขตรักษาพันธุ์สัตว์ป่า Keo Seima 
                    .hidden-info
                        p  พื้นที่คุ้มครองนี้เป็นที่อยู่อาศัยของสัตว์ป่า ประเภทของป่าไม้ ภูมิทัศน์ และชุมชนพื้นเมืองที่หลากหลาย ได้รับการสนับสนุนจาก WCS นับตั้งแต่ก่อนก่อตั้งในปี 2545 เป็นที่ตั้งของโครงการ Keo Seima REDD+ ซึ่งเป็นหนึ่งในโครงการอนุรักษ์ที่ใหญ่ที่สุดและประสบความสำเร็จมากที่สุดในกัมพูชา
                .river 
                    h2 แม่น้ำ Ou Te 
                    .hidden-info
                        p แม่น้ำ Ou Te ไหลผ่านพุงอลใช้สำหรับอาบน้ำ ซักเสื้อผ้า และน้ำดื่ม (หลังต้ม) ในฤดูแล้งเมื่อระดับน้ำลดลง แม่น้ำจะไหลช้าลง น้ำจะใสขึ้น และมีความขุ่นน้อยลง แม่น้ำมีความขุ่นสูงในช่วงฤดูฝน
                .hall 
                    h2 ศาลาประชาคม Pu Ngaol 
                    .hidden-info
                        p ศาลาประชาคมใช้เป็นสถานที่ให้ชาวบ้านมารวมตัวกันและเป็นสถานที่ปฏิบัติงานหลักในหมู่บ้าน
            a(class="buttons", href="booking") จองทัวร์ →
        br
        .info-box
            h2 จิตอาสาที่ Pu Ngaol
            p ข้อมูลเกี่ยวกับวิธีการมีส่วนร่วมในการเป็นอาสาสมัครในหมู่บ้าน
            a(class="buttons", href="booking") มีส่วนร่วมในการเป็นอาสาสมัคร →
        br
        .info-box
            h2 บริจาค/ลงทุนใน Pu Ngaol
            p วิธีการมีส่วนร่วมในการบริจาคและลงทุนในหมู่บ้าน
            a(class="buttons", href="charities") หน้าบริจาค →
