extends layout

block content
    link(rel='stylesheet', href='/stylesheets/weather.css')
    div(class = "text_container")
        div(class = "text")           
            //have to put database info here, including a potential IF statement for flood/drought warnings 
            for data in weatherData 
                h3 #{data.temp}°C 
                br
                if data.floodRisk > 0.75
                    p high flood risk!
                else if data.floodRisk > 0.5
                    p slight flood risk 
                else 
                    p no flood risk
                p #{data.droughtRisk}
                br
                if data.droughtRisk > 0.75
                    p high drought risk!
                else if data.droughtRisk > 0.5
                    p slight drought risk 
                else 
                    p no drought risk
                
