extends layout

block content
    link(rel='stylesheet', href='/stylesheets/weather.css')
    div(class = "text_container")
        img(src='/images/Weather_Clouds.jpg', alt='Weather Image', id = "weather_clouds")
        div(class = "text")
            h3 --°C
            p Description:......