body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(79, 79, 79);
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: aliceblue;
}

.intro-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(120, 120, 120);
}

.intro-info {
  width: 80%;
  text-align: center;
}

.intro-info h2 {
  text-align: center;
  color: aliceblue;
}

.intro-info p {
  background: rgb(215, 215, 215);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  text-align: center;
}

.tour-list-section {
  padding: 20px;
  background-color: rgb(79, 79, 79);
}

.tour-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tour-item {
  margin: auto;
  padding: 15px;
  background: rgb(215, 215, 215);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 85%;
}

.tour-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tour-item p {
  margin: 5px 0;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.date-selection {
  padding: 20px;
  background-color: rgb(120, 120, 120);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: aliceblue
}

input[type="date"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin: auto;
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

.info-section {
  padding: 20px;
  text-align: center;
}
