
.pageTitle{
    font-size: 45px;
    padding-top: 24px;
    padding-bottom: auto;
    padding-right: 3px;
    padding-left: 11px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
}


.charSec{
    float: inline-start;
    padding-top: 24px;
    padding-bottom: auto;
    padding-right: 3px;
    padding-left: 11px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  #leftSide{
    float: inline-start;
    padding-top: 2px;
    padding-bottom: 24px;
    padding-right: 0.5%;
    padding-left: 0.5%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 0.25%;
    border-style:solid;
    border-width: 2px;
    border-color: #025892;
    border-radius: 7px;
    width: 66%;
  }
  #desc{
    padding-top: 1%;
    padding-bottom: 24px;
    padding-right: 6px;
    padding-left: 11px;
    margin-top: auto;
    margin-right: 2%;
    margin-bottom: 20px;
    margin-left: 5px;
    color: #ffff;
    background-color: rgb(120, 120, 120);
    border-radius: 7px;
    font-size: 18px;
  }

  .payment{
    display: none;  }

  .showForm {
    display: block;
}

.showForm2{
  display: none;
}
  
  .rightsubBridge{
    height: 200px;
    position: relative;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 0.25%;
    display: inline-block;
    width: 47%;
    background-image: url('/images/bridge.jpg');;
    border-radius: 5px;
  }

  .rightsubTermite{
    height: 200px;
    position:relative;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 0.25%;
    display: inline-block;
    width: 47%;
    background-image: url('/images/termite.jpg');;
    border-radius: 5px;
  }

  .example{
   
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
  }

  .exText{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
  }
  .container { 
    background-color: rgb(192, 192, 192); 
    width: 100%; 
    border-radius: 15px; 
} 

.raised { 
    background-color: rgb(49, 201, 3); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
    width: 70%;
} 

.leftHeader{
    text-decoration: underline;
    text-align: center;
}

.currentMile{
    text-align: center;
    
}
  
  #rightSide{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 6px;
    padding-left: 11px;
    margin-top: auto;
    margin-right: 0.5%;
    margin-bottom: 20px;
    margin-left: 0.1%;
    display: inline-block;
    width: 30%;
    border-style:solid;
    border-width: 2px;
    border-color: #025892;
    border-radius: 7px;
    background-color: rgb(212, 231, 248);
  }
  
  @media only screen and (max-width: 1000px) {
  #rightSide{
    float: none;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
  }
  
  #leftSide{
   
    float: none;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
  }
  .rightsubBridge{
    width: 90%;
    display: block;
  }
  .rightsubTermite{
    width: 90%;
    display: block;
  }
  
  label {
    text-align: center;
  }
  }
  


  legend {
    font-size: large;
    align-self: center;
    border-radius: 50px;
  }
  
  label {
    display: block;
    font-size: large;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
  }
  
  input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #025892;
    border-radius: 5px;
    background-color: white;
  }
  select{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #025892;
    border-radius: 5px;
    background-color: white;
  }
  #donate {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 150px;
    padding: 5px;
    border: 1px solid #060331;
    border-radius: 5px;
    background-color: #179b49;
    color: #ffffff;
  }

  #donate:hover{
    background-color:   #137238;;
  }

  #pay{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    min-width: 150px;
    display: block;
    padding: 5px;
    border: 1px solid #060331;
    border-radius: 5px;
    background-color: #179b49;
    color: #ffffff;
  }

  #pay:hover{
    background-color:   #137238;;
  }
  #donation{
    background-color: rgb(212, 231, 248);
  }

  #payment{
    background-color: rgb(212, 231, 248);
  }

  .charSecondSec{
    padding-top: 24px;
    padding-bottom: auto;
    padding-right: 3px;
    padding-left: 11px;
    margin-top: 40px;
    margin: auto;
   border-radius: 5px;
   text-align: center;
   
  }

  .link{
    position: relative;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 3px;
    padding-left: 11px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #060331;
    width: 50%;
  }

  .linkHead{
    text-decoration: underline;
    font-size: 26px;
    color: #060331;
  }

  .linkInfo{
    font-size: 20px;
    color: #060331;
    text-decoration: underline;
  
  }

  .link:hover{
    background-color: rgb(212, 231, 248);
    transform: scale(1.02);
    transition: transform 0.3s;
  }

  .linkSec{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
  }
  
