body{
    background-color: rgb(79, 79, 79);
}

h1{
    background-image: url('/images/pu ngaol.jpg');
    width:fill;
    height: 710px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 96px;
}

a{
    text-decoration: none;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.homeButtons{
    width: 800px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 64px;
    color: aliceblue;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    transition: filter 0.4s ease;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.homeButtons:hover {
    filter: brightness(0.2);
}

#marketOverlayText{
    position: absolute;
    top: 117%;
    left: 2%;
    font-size: 32px;
    color: transparent;
    text-align: left;
    font-family: fantasy;
    line-height: 1.5;
}

#marketButton:hover ~ #marketOverlayText{
    color: aliceblue;
}

#toursOverlayText{
    position: absolute;
    top: 117%;
    left: 27%;
    font-size: 32px;
    color: transparent;
    text-align: left;
    font-family: fantasy;
    line-height: 1.5;
}

#toursButton:hover ~ #toursOverlayText{
    color: aliceblue;
}

#weatherOverlayText{
    position: absolute;
    top: 123%;
    left: 52%;
    font-size: 32px;
    color: transparent;
    text-align: left;
    font-family: fantasy;
    line-height: 1.5;
}

#weatherButton:hover ~ #weatherOverlayText{
    color: aliceblue;
}

#marketButton{
    background-image: url('/images/market.jpg');
}

#toursButton{
    background-image: url('/images/tour guide.jpg');
}

#weatherButton{
    background-image: url('/images/clouds.jpg');
}

#howToButton{
    background-image: url('/images/question mark.jpg');
}