body{
    background-color: rgb(79, 79, 79);
}

h1{
    background-image: url('/images/pu ngaol.jpg');
    width:fill;
    height: 710px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 96px;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.homeButtons{
    position:relative;
    width: 800px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 64px;
    color: aliceblue;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    transition: filter 0.4s ease;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.homeButtons:hover {
    filter: brightness(0.9);
}

.hidden-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(164, 164, 164, 0.8);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.homeButtons:hover .hidden-info {
    display: flex;
    flex-direction: column;
    opacity: 1;
}


#marketButton{
    background-image: url('/images/market.jpg');
}

#toursButton{
    background-image: url('/images/tour guide.jpg');
}

#weatherButton{
    background-image: url('/images/clouds.jpg');
}

#howToButton{
    background-image: url('/images/question mark.jpg');
}

/* media querey for mobile view, lowers text size for box hover and aligns them
with a mobile view, as well as fixing sizing issues for the title*/

@media only screen and (max-width: 768px) {
    h1{
        font-size: 75px;
    }

    .homeButtons{
        font-size: 18px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }

    .hidden-info{
        font-size: 12px;
        line-height: 1.5;
    }
    
}