body{
    background-color: rgb(79, 79, 79);
    color: aliceblue;
}

#title{
    text-align: center;
    font-size: 48px;
}

.subTitle{
    font-size: 30px;
    margin-top: 20px;
}

.info{
    font-size: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
}

li{
    padding: 4px;
}

.instructionsContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.textContainer {
    width: 45%;
}