body {
   background-color: rgb(79, 79, 79);
    margin: 0;
    height: 100vh;
    
  }

  main{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: fit-content;
  }

  section{
    display: flex;
    flex-direction: column;
    height: auto;
    white-space: normal;
    border-radius: 10px;
    position: relative;
    border: 5px solid rgb(21, 24, 22);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: rgb(21, 24, 22);
  }
  
  .wrapper{
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
  }

  header{
    text-align: center;
    flex-shrink: 0;
  }
  
  .underWrapper{
    font-size: 0.875rem;
  }

  .underWrapper-content{
    display: inline;
    
  }
  
  .loginInputTop{
    padding-top: 10px;
  }
  
  #login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 14px;
    min-height: 40px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    outline-color: currentcolor;
    cursor: pointer;
    border-radius: 20px;
  }
  input[type=text] {
    color:white;
    background-color: rgb(21, 24, 22);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=password] {
    color:white;
    background-color: rgb(21, 24, 22);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  form{
    order: 3;
  }

  p.error{
    color: red;
  }
  
  