body {

    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
  }
  
  .intro-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
  }
  
  .intro-info, .intro-image {
    width: 48%;
  }
  
  .intro-info p {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .intro-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .info-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .info-box {
    width: 30%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .info-box h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  button {
    background: #006bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button:hover {
    background: #0056b6;
  }
  