body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(79, 79, 79);
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: aliceblue;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(120, 120, 120);
  
}

.intro-info, .intro-image {
  width: 48%;
}

.intro-info h2 {
  text-align: center;
  color: aliceblue;
}

.intro-info p {
  background: rgb(215, 215, 215);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  text-align: center;
}

.intro-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.intro-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.info-section {
  justify-content: space-around;
  padding: 20px;
}

.info-box {
  margin: auto;
  width: 80%;
  background: rgb(215, 215, 215);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info-box h2 {
  margin-bottom: 15px;
}

.poiBoxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.poiBoxes > div {
  position: relative;
  width: 30%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.poiBoxes > div:hover {
  transform: scale(1.05);
}

.poiBoxes .sanctuaryPP {
  background-image: url('/images/sanctuaryPP.jpg');
}

.poiBoxes .sanctuaryKS {
  background-image: url('/images/sanctuaryKS.jpg');
}

.poiBoxes .river {
  background-image: url('/images/river.jpg');
}

.poiBoxes .hall {
  background-image: url('/images/hall.jpg');
}

.poiBoxes > div h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
}

.hidden-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.poiBoxes > div:hover .hidden-info {
  display: flex;
  flex-direction: column;
}

a.buttons {
  background: #006bff;
  color: aliceblue;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

a.buttons:hover {
  background: #0056b6;
}
